<div class="grid">
    <div class="col-12 py-5 mt-8">
        <div class="flex align-items-center justify-content-center">
            <p-card class="sm:w-9 md:w-8">
                <div class="col-12 text-center">
                    <h2>Ecommerce App</h2>
                </div>

                <div class="col-12 text-center">
                    <h3>Criar Conta</h3>
                </div>

                <p-stepper [activeStep]="activeStep" [linear]="true">
                    <p-stepperPanel header="Dados Básicos">
                        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                            <div class="flex flex-column h-12rem">
                                <form class="mt-3" [formGroup]="basicDataForm">
                                    <div class="grid">
                                        <div class="md:col-6 col-12">
                                            <p-floatLabel>
                                                <input id="name" type="text" pInputText class="w-full" formControlName="name" />
                                                <label for="name">Nome</label>
                                            </p-floatLabel>
                                            <small *ngIf="basicDataForm.get('name')?.dirty && !basicDataForm.get('name')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>

                                        <div class="md:col-4 col-12">
                                            <span class="p-float-label p-fluid">
                                                <p-inputMask mask="999.999.999-99" id="document" class="w-full" formControlName="document" unmask></p-inputMask>
                                                <label for="document">CPF</label>
                                            </span>
                                            <small *ngIf="basicDataForm.get('document')?.dirty && !basicDataForm.get('document')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>

                                        <div class="md:col-2 col-12">
                                            <span class="p-float-label p-fluid">
                                                <p-inputNumber id="age" formControlName="age" [min]="1" max="999" maxlength="3"/>
                                                <label for="age">Idade</label>
                                            </span>
                                            <small *ngIf="basicDataForm.get('age')?.dirty && !basicDataForm.get('age')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>
                                    </div>

                                    <div class="grid mt-3">
                                        <div class="md:col-6 col-12">
                                             <span class="p-float-label p-fluid">
                                                <p-password [feedback]="false" [toggleMask]="true" id="password" formControlName="password" ></p-password>
                                                <label for="password">Senha</label>
                                            </span>
                                            <small *ngIf="basicDataForm.get('password')?.dirty && !basicDataForm.get('password')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>

                                        <div class="md:col-6 col-12">
                                             <span class="p-float-label p-fluid">
                                                <p-password [feedback]="false" [toggleMask]="true" id="confirmPassword" formControlName="confirmPassword" ></p-password>
                                                <label for="confirmPassword">Confirmar Senha</label>
                                            </span>
                                            <small *ngIf="basicDataForm.get('confirmPassword')?.dirty && !basicDataForm.get('confirmPassword')?.valid" class="p-error block">Campo obrigatório</small>
                                            <small *ngIf="basicDataForm.get('confirmPassword')?.valid && basicDataForm.get('confirmPassword')?.dirty && basicDataForm.get('confirmPassword')?.value != basicDataForm.get('password')?.value" class="p-error block">Senhas não coincidem</small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="flex pt-4 justify-content-end">
                                <p-button label="Próximo" icon="pi pi-arrow-right" iconPos="right" (onClick)="validateBasicData()" /></div
                            ></ng-template>
                    </p-stepperPanel>

                    <p-stepperPanel header="Endereço" disabled>
                        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                            <div class="flex flex-column">
                                <form class="mt-3" [formGroup]="addressForm">
                                    <div class="grid">
                                        <div class="md:col-6 col-12">
                                            <div class="flex w-full">
                                                <div class="mr-3">
                                                    <span class="p-float-label p-fluid">
                                                        <p-inputMask mask="99.999-999" id="zipCode" class="w-full" unmask formControlName="zipCode"></p-inputMask>
                                                        <label for="zipCode">CEP</label>
                                                    </span>
                                                    <small *ngIf="addressForm.get('zipCode')?.dirty && !addressForm.get('zipCode')?.valid" class="p-error block">Campo obrigatório</small>
                                                </div>

                                                <p-button icon="pi pi-search" pTooltip="Pesquisar CEP" (click)="findAddress()"></p-button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-3" *ngIf="loadingZipCode">
                                        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
                                    </div>

                                    <div class="grid mt-3">
                                        <div class="md:col-6 col-12">
                                            <span class="p-float-label w-full">
                                                <p-dropdown [options]="ufs" id="state" styleClass="w-full" formControlName="state" />
                                                <label for="state">Estado</label>
                                            </span>
                                            <small *ngIf="addressForm.get('state')?.dirty && !addressForm.get('state')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>

                                        <div class="md:col-6 col-12">
                                            <p-floatLabel>
                                                <input id="city" type="text" pInputText class="w-full" formControlName="city" />
                                                <label for="city">Cidade</label>
                                            </p-floatLabel>
                                            <small *ngIf="addressForm.get('city')?.dirty && !addressForm.get('city')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>
                                    </div>

                                    <div class="grid mt-3">
                                        <div class="md:col-6 col-12">
                                            <p-floatLabel>
                                                <input id="neighborhood" type="text" pInputText class="w-full" formControlName="neighborhood" />
                                                <label for="neighborhood">Bairro</label>
                                            </p-floatLabel>
                                            <small *ngIf="addressForm.get('neighborhood')?.dirty && !addressForm.get('neighborhood')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>

                                        <div class="md:col-6 col-12">
                                            <p-floatLabel>
                                                <input id="address" type="text" pInputText class="w-full" formControlName="address" />
                                                <label for="address">Endereço</label>
                                            </p-floatLabel>
                                            <small *ngIf="addressForm.get('address')?.dirty && !addressForm.get('address')?.valid" class="p-error block">Campo obrigatório</small>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="flex pt-4 justify-content-between">
                                <p-button label="Voltar" icon="pi pi-arrow-left" (onClick)="activeStep = 0" />
                                <p-button label="Criar conta" icon="pi pi-user-plus" iconPos="right" (onClick)="save()" /></div
                            ></ng-template>
                    </p-stepperPanel>
                </p-stepper>
            </p-card>
        </div>

    </div>
</div>

<p-toast></p-toast>
